.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/** side menu **/
.sidemenu {
    background-color: #F5CF46;
    height: 100vh;
    width: 25%;

    padding: 30px;
}
.sidemenu h3 {
    text-align: center;
}
.sidemenu ul {
    text-align: left;
}
.sidemenu li {
    margin-top: 14vh;
    font-size: 20px;
    color: #746633;
}
.sidemenu p {
    margin: 50px 0;
    text-align: center;
    font-size: 24px;
    color: #746633;
}

.valid{
    color: #000 !important;
    font-size: 26px !important;
}

/** main menu **/

.mainmenu {
    background-color: #fff;
    height: 100vh;
    width: 75%;
    text-align: center;
}
.mainmenu p {
    margin: 50px 10px;
}

.camera_stage {
    width: 65vh;
    height: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid #000;  /* 枠線 */
    border-radius: 0.5em;   /* 角丸 */
    background-color: snow;  /* 背景色 */
    font-size: 1em;          /* 文字サイズ */
    line-height: 1.2 ;        /* 行の高さ */
}

.announce {
    width: 100%;
}
.announce img{
    width: 50vh;
}
#statusText {
    margin-top: 30vh;
}