.select_box ul {
    display: flex;
    flex-direction: column;
}
.select_box li {
    margin: 10px 20px;
    height: 100px;
    /* width: 100%; */

    border: 2px solid #000;  /* 枠線 */
    border-radius: 0.1em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
}

.date {
    text-align: center;
}
.date li {
    height: 45px;
}

/** phase3 **/
.check_list {
    border: 2px solid #000;  /* 枠線 */
    border-radius: 0.1em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */

    margin-top: 10px;
}
.next_btn {
    margin: 10vh auto;
    width: 100%;
    text-align: center;
    border: 2px solid #000;  /* 枠線 */
    border-radius: 0.1em;   /* 角丸 */
    padding: 0.5em;          /* 内側の余白量 */
    background-color: snow;  /* 背景色 */
}

/** done **/
.qr_code {
    text-align: center;
}
.qr_code img {
    margin: 30px auto;
    width: 100%;
}